@import "libs/reset.scss";

html { 
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0px 0px 140px 0px;
}

a {
    text-decoration: none;
}

.titre-pages-annexes {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 50px 0px;
    font-size: 2.5em;
    font-weight: bold;
}

header, footer {
    background: #579C87;
}

header {
    h1 {
        color: #FDCB46;
        font-size: 4em;
        font-weight: bold;
    }
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    text-align: center;
}

main {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 50px 0px;
    background: #FFFFFF;
    width: 100%;
    text-align: center;
}

.cartes {
    /* border: 1px dashed black; */
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

%carte {
    /* border: 1px solid silver; */
    box-shadow: 0px 0px 10px 1px #e2e2e2;
    padding: 0px 0px 0px 0px;
    margin: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 760px;
    width: 540px;
}

.carte-note-enchantee {
    @extend %carte;
    font-family: 'Devonshire', cursive;
    background: #FCDFDB;
    color: #633D41;
    h2 {
        font-size: 2.5em;
    }
    p {
        font-size: 2.5em;
        text-transform: uppercase;
        font-family: 'Tillana', cursive;;
    }
}

.logo-note {
    height: 75px;
    width: 75px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.carte-chic-francais {
    @extend %carte;
    font-family: 'Croissant One', cursive;
    background: #FFF5FE;
    h2 {
        font-size: 1.75em;
        background: linear-gradient(135deg, #d8852e 0%,#905bfd 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p {
        padding: 0px 0px 0px 0px;
        margin: 25px 0px 0px 0px;
        font-size: 2.5em;
        font-family: 'Libre Baskerville', serif;
        color: #d8852e;
    }
}

.carte-delice-papilles {
    @extend %carte;
    font-family: 'Dancing Script', cursive;
    background: #F9F9F9;
    h2 {
        font-size: 2.5em;
        background: linear-gradient(135deg, #0431df 0%,#178FFA 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p {
        padding: 0px 0px 0px 0px;
        margin: 15px 0px 0px 0px;
        font-size: 2.5em;
        font-family: 'Tillana', cursive;;
        color: #0431df;
    }
}

.carte-palette-gout {
    @extend %carte;
    font-family: 'Kaushan Script', cursive;
    background: #FDFFFD;
    h2 {
        font-size: 2.25em;
        background: linear-gradient(135deg, #3D9339 0%,#BFFF7E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p {
        font-size: 2.5em;
        font-family: 'Tillana', cursive;
        color: #3D9339;
    }
}

.call {
    /* border: 1px dashed black; */
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.bouton {
    padding: 0px 0px 0px 0px;
    margin: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 660px;
    background-color: #579C87;
    color: #FDCB46;
    font-size: 2em;
    font-weight: bold;
    place-content: center;
    border-radius: 20px;
}

footer {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 140px;
    width: 100%;
    position: fixed;
    bottom: 0;
    a {
        color: #FDCB46;
        font-size: 1.5em;
        font-weight: bold;
    }
}

.menu {
    border: 1px dashed black;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.menu-entete {
    border: 1px dashed grey;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.menu-box{
    border: 1px dashed grey;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.menu-box-titre {
    border: 1px dashed grey;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.menu-separateur {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    width: 400px;
    color: #633D41;
}

.menu-box-courses {
    border: 1px dashed grey;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.menu-footer {
    border: 1px dashed grey;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}