@charset "UTF-8";
/* import des différents "outils" */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes bounce {
  0% {
    height: 0.5rem;
    width: 0.5rem;
  }
  50% {
    height: 0.5rem;
    width: 0.5rem;
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
/* import des éléments "structure" de page */
html {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
@media all and (max-width: 1024px) {
  html {
    font-size: 18px;
  }
}
@media all and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media all and (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

body {
  padding: 0px 0px 140px 0px;
}
@media all and (max-width: 500px) {
  body {
    padding: 0px 0px 100px 0px;
  }
}

a {
  font-size: 1rem;
  color: #FDCB46;
  text-decoration: none;
}

.top-titre {
  margin: 50px 0px 50px 0px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

header {
  margin: 0px 0px 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 250px;
  width: 100%;
  background: #579C87;
}
@media all and (max-width: 500px) {
  header {
    height: 150px;
  }
}
header h1 {
  font-size: 2.75rem;
  font-weight: bold;
  color: #FDCB46;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 140px;
  width: 100%;
  background: #579C87;
}
@media all and (max-width: 500px) {
  footer {
    height: 100px;
    flex-direction: column;
  }
}
footer a {
  font-size: 1.25rem;
  font-weight: normal;
}
footer a:hover {
  animation: wiggle 0.5s;
  animation-iteration-count: infinite;
}

/* mise en page à destination de la page delice-papilles.html et du fichier de style delice-papilles.css */
.conteneur-carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto 100px auto;
}

h3 {
  font-size: 2.5rem;
  background: linear-gradient(135deg, #0228DD 0%, #229DF9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media all and (max-width: 500px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  padding-bottom: 10px;
  font-size: 1.25rem;
  text-align: center;
}
@media all and (max-width: 500px) {
  h4 {
    font-weight: bold;
  }
}

.menu {
  margin: 0px auto 0px auto;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 1000px;
  font-family: "Tillana", cursive;
  background: #F9F9F9;
  box-shadow: 0px 0px 10px 1px #e2e2e2;
}
@media all and (max-width: 1024px) {
  .menu {
    height: 100%;
    width: 80%;
  }
}
@media all and (max-width: 768px) {
  .menu {
    height: 100%;
    width: 90%;
  }
}
@media all and (max-width: 500px) {
  .menu {
    height: 100%;
    width: 100%;
  }
}

.menu-top {
  padding: 10px 10px 10px 10px;
  margin: auto 10px 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
}

.entrees {
  padding: 10px 10px 10px 10px;
  margin: auto 10px 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.entrees .separateur {
  width: 300px;
}
@media all and (max-width: 1024px) {
  .entrees .separateur {
    width: 150px;
  }
}
@media all and (max-width: 768px) {
  .entrees .separateur {
    width: 100px;
  }
}
@media all and (max-width: 500px) {
  .entrees .separateur {
    display: none;
  }
}
.entrees h4 {
  background: linear-gradient(to top, #0228DD 0%, #0228DD 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  transition: 400ms;
}
.entrees h4:hover {
  background-size: 100% 100%;
}

.plats {
  padding: 10px 10px 10px 10px;
  margin: auto 10px auto 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.plats .separateur {
  width: 300px;
}
@media all and (max-width: 1024px) {
  .plats .separateur {
    width: 150px;
  }
}
@media all and (max-width: 768px) {
  .plats .separateur {
    width: 100px;
  }
}
@media all and (max-width: 500px) {
  .plats .separateur {
    display: none;
  }
}
.plats h4 {
  background: linear-gradient(to top, #0670F3 0%, #0670F3 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  transition: 400ms;
}
.plats h4:hover {
  background-size: 100% 100%;
}

.desserts {
  padding: 10px 10px 10px 10px;
  margin: auto 10px auto 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.desserts .separateur {
  width: 300px;
}
@media all and (max-width: 1024px) {
  .desserts .separateur {
    width: 150px;
  }
}
@media all and (max-width: 768px) {
  .desserts .separateur {
    width: 100px;
  }
}
@media all and (max-width: 500px) {
  .desserts .separateur {
    display: none;
  }
}
.desserts h4 {
  background: linear-gradient(to top, #229DF9 0%, #229DF9 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  transition: 400ms;
}
.desserts h4:hover {
  background-size: 100% 100%;
}

.ligne-titre {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media all and (max-width: 500px) {
  .ligne-titre {
    justify-content: center;
  }
}

.ligne {
  padding: 10px 50px 10px 50px;
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media all and (max-width: 500px) {
  .ligne {
    display: block;
    text-align: center;
  }
}
.ligne .prix {
  font-size: 1.25rem;
}

/*# sourceMappingURL=delice-papilles.css.map */
