@charset "UTF-8";
/* import des différents "outils" */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

/* palette des couleurs utilisées pour l'ensemble du projet */
/* règles de formatage des boutons */
.bouton {
  margin: 50px 0px 50px 0px;
  padding: 50px 50px 50px 50px;
  border-radius: 20px;
  font-size: 1.25rem;
  font-weight: normal;
  color: #FDCB46;
  background-color: #579C87;
}
@media all and (max-width: 500px) {
  .bouton {
    padding: 30px 25px 30px 25px;
  }
}

/* règles des animations keyframe */
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes bounce {
  0% {
    height: 0.5rem;
    width: 0.5rem;
  }
  50% {
    height: 0.5rem;
    width: 0.5rem;
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
/* import des éléments "structure" de page */
/* règles de formatage pour la structure de base du projet */
html {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
@media all and (max-width: 1024px) {
  html {
    font-size: 18px;
  }
}
@media all and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media all and (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

body {
  padding: 0px 0px 140px 0px;
}
@media all and (max-width: 500px) {
  body {
    padding: 0px 0px 100px 0px;
  }
}

a {
  font-size: 1rem;
  color: #FDCB46;
  text-decoration: none;
}

.top-titre {
  margin: 0px 0px 50px 0px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

/* règles de formatage du header */
header {
  margin: 0px 0px 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 250px;
  width: 100%;
  background: #579C87;
}
@media all and (max-width: 500px) {
  header {
    height: 150px;
  }
}
header h1 {
  font-size: 2.75rem;
  font-weight: bold;
  color: #FDCB46;
}

/* règles de formatage du footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 140px;
  width: 100%;
  background: #579C87;
}
@media all and (max-width: 500px) {
  footer {
    height: 100px;
    flex-direction: column;
  }
}
footer div {
  font-size: 1.25rem;
  font-weight: normal;
}
footer div:hover {
  animation: wiggle 0.5s;
  animation-iteration-count: infinite;
}

/* mise en page à destination de la page index.html et du fichier de style index.css */
.cartes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media all and (max-width: 500px) {
  .cartes {
    display: block;
  }
}

.carte-palette-gout, .carte-delice-papilles, .carte-chic-francais, .carte-note-enchantee {
  box-shadow: 0px 0px 10px 1px #e2e2e2;
  margin: 50px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 760px;
  width: 540px;
}
@media all and (max-width: 1024px) {
  .carte-palette-gout, .carte-delice-papilles, .carte-chic-francais, .carte-note-enchantee {
    height: 630.5px;
    width: 448px;
  }
}
@media all and (max-width: 768px) {
  .carte-palette-gout, .carte-delice-papilles, .carte-chic-francais, .carte-note-enchantee {
    margin: 50px 10px 50px 10px;
    height: 501px;
    width: 356px;
  }
}
@media all and (max-width: 500px) {
  .carte-palette-gout, .carte-delice-papilles, .carte-chic-francais, .carte-note-enchantee {
    margin: 50px 0px 50px 0px;
    height: 75vh;
    width: 100vw;
  }
}
.carte-palette-gout p, .carte-delice-papilles p, .carte-chic-francais p, .carte-note-enchantee p {
  padding: 25px 0px 0px 0px;
}

.logo-note-enchantee {
  margin: 0px 0px 25px 0px;
  height: 75px;
  width: 75px;
}

.carte-note-enchantee {
  font-family: "Devonshire", cursive;
  color: #633D41;
  background: #FCDFDB;
}
.carte-note-enchantee h2 {
  font-size: 1.75rem;
  font-weight: normal;
}
.carte-note-enchantee img {
  margin: 0px 0px 25px 0px;
}
.carte-note-enchantee p {
  font-size: 2.25rem;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Tillana", cursive;
}

.carte-chic-francais {
  font-family: "Croissant One", cursive;
  background: #FFF5FE;
}
.carte-chic-francais h2 {
  font-size: 1.5rem;
  background: linear-gradient(135deg, #D8852E 0%, #905BFD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carte-chic-francais p {
  font-size: 2rem;
  font-weight: normal;
  font-family: "Libre Baskerville", serif;
  color: #d8852e;
}

.carte-delice-papilles {
  font-family: "Dancing Script", cursive;
  background: #F9F9F9;
}
.carte-delice-papilles h2 {
  font-size: 2rem;
  font-weight: normal;
  background: linear-gradient(135deg, #0228DD 0%, #229DF9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carte-delice-papilles p {
  font-size: 2rem;
  font-weight: normal;
  font-family: "Tillana", cursive;
  color: #0228DD;
}

.carte-palette-gout {
  font-family: "Kaushan Script", cursive;
  background: #FDFFFD;
}
.carte-palette-gout h2 {
  font-size: 2rem;
  font-weight: normal;
  background: linear-gradient(135deg, #41963C 0%, #BFFA8A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carte-palette-gout p {
  font-size: 2rem;
  font-weight: normal;
  font-family: "Tillana", cursive;
  color: #41963C;
}

.contenu-carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1);
  opacity: 1;
  transition: all 1000ms;
}
.contenu-carte:hover {
  transform: scale(1.25);
  opacity: 0.5;
}

.call {
  margin: 0px 0px 50px 0px;
  display: flex;
  justify-content: center;
}

.next {
  display: flex;
  align-items: baseline;
}
.next p {
  margin: 0px 25px 0px 0px;
}

.petits-points {
  display: flex;
  align-items: center;
}

.point-01 {
  background-color: #FDCB46;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  animation: bounce 900ms infinite;
}

.point-02 {
  background-color: #FDCB46;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  animation: bounce 900ms infinite;
  animation-delay: 100ms;
}

.point-03 {
  background-color: #FDCB46;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  animation: bounce 900ms infinite;
  animation-delay: 150ms;
}

/*# sourceMappingURL=index.css.map */
