@charset "UTF-8";
/* import des différents "outils" */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes bounce {
  0% {
    height: 0.5rem;
    width: 0.5rem;
  }
  50% {
    height: 0.5rem;
    width: 0.5rem;
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
/* import des éléments "structure" de page */
html {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
@media all and (max-width: 1024px) {
  html {
    font-size: 18px;
  }
}
@media all and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media all and (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

body {
  padding: 0px 0px 140px 0px;
}
@media all and (max-width: 500px) {
  body {
    padding: 0px 0px 100px 0px;
  }
}

a {
  font-size: 1rem;
  color: #FDCB46;
  text-decoration: none;
}

.top-titre {
  margin: 50px 0px 50px 0px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

header {
  margin: 0px 0px 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 250px;
  width: 100%;
  background: #579C87;
}
@media all and (max-width: 500px) {
  header {
    height: 150px;
  }
}
header h1 {
  font-size: 2.75rem;
  font-weight: bold;
  color: #FDCB46;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 140px;
  width: 100%;
  background: #579C87;
}
@media all and (max-width: 500px) {
  footer {
    height: 100px;
    flex-direction: column;
  }
}
footer a {
  font-size: 1.25rem;
  font-weight: normal;
}
footer a:hover {
  animation: wiggle 0.5s;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes bounce {
  0% {
    height: 0.5rem;
    width: 0.5rem;
  }
  50% {
    height: 0.5rem;
    width: 0.5rem;
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
/* mise en page à destination de la page mentions-legales.html et du fichier de style mentions-legales.css */
.conteneur-mentions-legales {
  margin: 0px auto 100px auto;
  height: auto;
  width: 1000px;
}
.conteneur-mentions-legales h3 {
  padding: 10px 0px 10px 0px;
  font-size: 0.8rem;
  text-align: left;
  font-weight: bold;
  color: #579C87;
}
.conteneur-mentions-legales p {
  padding: 0px 0px 10px 0px;
  font-size: 0.8rem;
  text-align: justify;
}
.conteneur-mentions-legales a {
  font-size: 0.8rem;
  color: #579C87;
}
@media all and (max-width: 1024px) {
  .conteneur-mentions-legales {
    width: 80%;
  }
}
@media all and (max-width: 768px) {
  .conteneur-mentions-legales {
    width: 90%;
  }
}
@media all and (max-width: 500px) {
  .conteneur-mentions-legales {
    width: 90%;
  }
}

/*# sourceMappingURL=mention-legales.css.map */
