@charset "UTF-8";
/* import des différents "outils" */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

/* Palette des couleurs */
/* strucre de base des boutons */
.bouton {
  margin: 50px 0px 50px 0px;
  padding: 50px 50px 50px 50px;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: normal;
  color: #FDCB46;
  background-color: #579C87;
}

/* import des éléments "structure" de page */
/* strucre de base de chaque page */
html {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
@media all and (max-width: 1024px) {
  html {
    font-size: 18px;
  }
}
@media all and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media all and (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

body {
  padding: 0px 0px 140px 0px;
}
@media all and (max-width: 500px) {
  body {
    padding: 0px 0px 100px 0px;
  }
}

a {
  font-size: 1rem;
  color: #FDCB46;
  text-decoration: none;
}

.top-titre {
  margin: 50px 0px 50px 0px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

/* strucre de base du header */
header {
  margin: 0px 0px 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 250px;
  width: 100%;
  background: #579C87;
}
@media all and (max-width: 500px) {
  header {
    height: 150px;
  }
}
header h1 {
  font-size: 2.75rem;
  font-weight: bold;
  color: #FDCB46;
}

/* strucre de base du footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 140px;
  width: 100%;
  background: #579C87;
}
@media all and (max-width: 500px) {
  footer {
    height: 100px;
  }
}
footer a {
  font-size: 1.25rem;
  font-weight: normal;
}
@media all and (max-width: 500px) {
  footer a {
    font-size: 0.8rem;
  }
}

/* mise en page à destination de la page note-enchantee.html et du fichier de style associé note-enchantéé.css */
.conteneur-carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto 100px auto;
}

h3 {
  font-family: "Devonshire", cursive;
  font-size: 3rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

.menu {
  /*margin: 0px 0px 0px 0px;*/
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1670px;
  width: 1180px;
  box-shadow: 0px 0px 10px 1px #e2e2e2;
  font-size: 1rem;
  font-family: "Tillana", cursive;
  color: #633D41;
  background: #FCDFDB;
}
@media all and (max-width: 1024px) {
  .menu {
    height: 100%;
    width: 80%;
  }
}
@media all and (max-width: 768px) {
  .menu {
    height: 100%;
    width: 90%;
  }
}
@media all and (max-width: 500px) {
  .menu {
    height: 100%;
    width: 100%;
  }
}

.logo-note-enchantee {
  margin: 25px 25px 25px 25px;
  height: 75px;
  width: 75px;
}

.menu-top {
  padding: 10px 10px 10px 10px;
  margin: auto 10px 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.entrees {
  padding: 10px 10px 10px 10px;
  margin: auto 10px 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.plats {
  padding: 10px 10px 10px 10px;
  margin: auto 10px auto 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.desserts {
  padding: 10px 10px 10px 10px;
  margin: auto 10px auto 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.separateur {
  width: 300px;
  fill: #633D41;
}
@media all and (max-width: 1024px) {
  .separateur {
    width: 200px;
  }
}
@media all and (max-width: 768px) {
  .separateur {
    width: 175px;
  }
}
@media all and (max-width: 500px) {
  .separateur {
    display: none;
  }
}

.ligne-titre {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media all and (max-width: 500px) {
  .ligne-titre {
    justify-content: center;
  }
}

.ligne {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
}
@media all and (max-width: 500px) {
  .ligne {
    display: block;
    text-align: center;
  }
}

.prix {
  font-size: 1rem;
  font-weight: bold;
}

.menu-bottom {
  padding: 10px 10px 10px 10px;
  margin: auto 10px auto 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Devonshire", cursive;
  width: 100%;
}
@media all and (max-width: 500px) {
  .menu-bottom {
    display: none;
  }
}

/*# sourceMappingURL=note-enchantee.css.map */
