/* import des différents "outils" */

@import "../outils/reset.scss";
@import "../outils/palette-couleur.scss";
@import "../outils/bouton.scss";

/* import des éléments "structure" de page */

@import "../structure/base.scss";
@import "../structure/header.scss";
@import "../structure/footer.scss";

/* mise en page à destination de la page delice-papilles.html et du fichier de style delice-papilles.css */

.conteneur-carte {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto 100px auto;

}

h3 {
    font-size: 2.5rem;
    background: $couleur-delice-degrade;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media all and (max-width: 500px) {
        font-size: 2.50rem;
    }
}

h4 {
    padding-bottom: 10px;
    font-size: 1.25rem;
    text-align: center;
    @media all and (max-width: 500px) {
        font-weight: bold;
    }
}

.menu {
    margin: 0px auto 0px auto;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 1000px;
    @media all and (max-width: 1024px) {
        height: 100%;
        width: 80%;
    }
    @media all and (max-width: 768px) {
        height: 100%;
        width: 90%;
    }
    @media all and (max-width: 500px) {
        height: 100%;
        width: 100%;
    }
    font-family: 'Tillana', cursive;
    background: $couleur-delice-fond;
    box-shadow: 0px 0px 10px 1px #e2e2e2;
}

.menu-top {
    padding: 10px 10px 10px 10px;
    margin: auto 10px 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
}

.entrees {
    padding: 10px 10px 10px 10px;
    margin: auto 10px 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .separateur {
        width: 300px;
        fill: $couleur-delice-bleu-top;
        @media all and (max-width: 1024px) {
            width: 150px;
        }
        @media all and (max-width: 768px) {
            width: 100px;
        }
        @media all and (max-width: 500px) {
            display: none;
        }
    }
    h4 {
        background: linear-gradient(to top, $couleur-delice-bleu-top 0%, $couleur-delice-bleu-top 4px, transparent 5px) no-repeat;
        background-size: 0 100%;
        transition : 400ms;
        &:hover {
            background-size: 100% 100%;
        }
    }
}

.plats {
    padding: 10px 10px 10px 10px;
    margin: auto 10px auto 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .separateur {
        width: 300px;
        fill: $couleur-delice-bleu-middle;
        @media all and (max-width: 1024px) {
            width: 150px;
        }
        @media all and (max-width: 768px) {
            width: 100px;
        }
        @media all and (max-width: 500px) {
            display: none;
        }
    }
    h4 {
        background: linear-gradient(to top, $couleur-delice-bleu-middle 0%, $couleur-delice-bleu-middle 4px, transparent 5px) no-repeat;
        background-size: 0 100%;
        transition : 400ms;
        &:hover {
            background-size: 100% 100%;
        }
    }
}

.desserts {
    padding: 10px 10px 10px 10px;
    margin: auto 10px auto 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .separateur {
        width: 300px;
        fill: $couleur-delice-bleu-bottom;
        @media all and (max-width: 1024px) {
            width: 150px;
        }
        @media all and (max-width: 768px) {
            width: 100px;
        }
        @media all and (max-width: 500px) {
            display: none;
        }
    }
    h4 {
        background: linear-gradient(to top, $couleur-delice-bleu-bottom 0%, $couleur-delice-bleu-bottom 4px, transparent 5px) no-repeat;
        background-size: 0 100%;
        transition : 400ms;
        &:hover {
            background-size: 100% 100%;
        }
    }
}

.ligne-titre {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 500px) {
        justify-content: center;
    }
    width: 100%;
}

.ligne {
    padding: 10px 50px 10px 50px;
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media all and (max-width: 500px) {
        display: block;
        text-align: center;
    }
    .prix {
        font-size: 1.25rem;
    }
}