/* import des différents "outils" */

@import "../outils/reset.scss";
@import "../outils/palette-couleur.scss";

/* import des éléments "structure" de page */

@import "../structure/base.scss";
@import "../structure/header.scss";
@import "../structure/footer.scss";

/* mise en page à destination de la page mentions-legales.html et du fichier de style mentions-legales.css */

.conteneur-mentions-legales {
    margin: 0px auto 100px auto;
    width: 1180px;
    @media all and (max-width: 1024px) {
        width: 80%;
    }
    @media all and (max-width: 768px) {
        width: 90%;
    }
    @media all and (max-width: 500px) {
        width: 90%;
    }
    h3 {
        padding: 10px 0px 10px 0px;
        font-size: 0.8rem;
        text-align: left;
        font-weight: bold;
        color: $couleur-vert;
    }
    p {
        padding: 0px 0px 10px 0px;
        font-size: 0.8rem;;
        text-align: justify;
    }
    a {
        font-size: 0.8rem;
        color: $couleur-vert;
    }
}