/* Palette des couleurs */

$couleur-vert: #579C87;
$couleur-jaune: #FDCB46;
$couleur-blanc: #FFFFFF;
$couleur-note-fond: #FCDFDB;
$couleur-note-police: #633D41;
$couleur-chic-fond: #FFF5FE;
$couleur-chic-brun: #d8852e;
$couleur-chic-magenta: #a56799;
$couleur-chic-bleu-magenta: #905bfd;
$couleur-chic-degrade: linear-gradient(135deg, #D8852E 0%,#905BFD 100%);
$couleur-delice-fond: #F9F9F9; 
$couleur-delice-bleu-top: #0228DD;
$couleur-delice-bleu-middle: #0670F3;
$couleur-delice-bleu-bottom: #229DF9;
$couleur-delice-degrade: linear-gradient(135deg, #0228DD 0%,#229DF9 100%);
$couleur-palette-fond: #FDFFFD;
$couleur-palette-degrade: linear-gradient(135deg, #41963C 0%, #BFFA8A 100%);
$couleur-palette-police: #41963C;