
/* règles de formatage du footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 140px;
    width: 100%;
    background: $couleur-vert;
    @media all and (max-width: 500px) {
        height: 100px;
        width: 100vw;
        flex-direction: column;
    }
    div {
        font-size: 1.25rem;
        font-weight: normal;
        &:hover {
            animation: wiggle 0.5s;
            animation-iteration-count: infinite;
        }
    }
}